{% extends 'main.html' %}
{% include 'navbar.html' %}
{% block content %}
<!-- <table class="table table-dark">
  <tbody>
    {% for items in projects %}
    <tr>
      <th scope="row">1</th>
      <td>{{items.title}}</td>
      <td>{{items.vote_total}}</td>
      <td>{{items.vote_ratio}}</td>
      <td>{{items.created}}</td>
      <td><a style="text-decoration: none; color:chocolate;" href="{% url 'project' items.id  %}">Details</a></td>
      <td><a style="text-decoration: none; color:chocolate;" href="{% url 'update-project' items.id  %}"> Edit </a></td>
      <td><a style="text-decoration: none; color:chocolate;" href="{% url 'delete-project' items.id  %}"> Delete </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table> -->
<!-- Main Section -->
<main class="projects">
  <section style="background-color: #cceeb8;" class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2>Number of Projects <span>{{projectcount}}</span></h>
        <h2>Search for <span>Projects</span></h2>
        
      </div>

      <div class="hero-section__search">
        <form class="form" action="{% url 'projects' %}" method="get">
          <div class="form__field">
            <label for="formInput#search">Search By Projects </label>
            <input class="input input--text" id="formInput#search" type="text" name="search_query"
              placeholder="Search by Project Title" />
          </div>

          <input class="btn btn--sub btn--lg" type="submit" value="Search" />
        </form>
      </div>
    </div>
  </section>
  <!-- Search Result: DevList -->
 
  <section style="background-color: #C6D57E;" class="projectsList">
    <div class="container">
      <div class="grid grid--three">
        {% for items in projects|slice:'6' %}
      
        <div class="column">
          <div class="card project">
            <a href="{% url 'project' items.id  %}" class="project">
              <img class="project__thumbnail" src="{{items.featured_image.url}}" alt="project thumbnail" />
              <div class="card__body">
                <h3 class="project__title">{{items.title}}</h3>
                <p><a class="project__author" href="{% url 'profiles' %}">By {{items.owner.name}} </a></p>
                <p class="project--rating">
                  <span style="font-weight: bold;">{{items.vote_ratio}}%</span> Positive
                  Feedback ({{items.vote_total}}) vote{{items.vote_total|pluralize:'s'}}
                </p>
                <div>
                  {% for donate in formdonate %}
                  <span>{{donate}}</span>
                  {% endfor %}
                </div>

                <div class="project__tags">
                  {% for tag in items.tags.all %}
                  <span class="tag tag--pill tag--main">
                    <small>{{tag}}</small>
                  </span>
                  {% endfor %}
                </div>
                <div class="project__tags">
                  <span>Categories</span>
                  {% for cat in items.category.all %}
                  <span class="tag tag--pill tag--main">
                    <small>{{cat}}</small>
                  </span>
                  {% endfor %}
                </div>
               
                <!-- <div class="center" style="text-align: center; margin: auto; padding: 5px; border-radius: 1px solid green;">
                  <a class="btn btn--sub" style="background-color:rgb(49, 218, 49);"  href="{% url 'update-project' items.id %}">Update</a>
                <a class="btn btn--sub" class="btn btn-danger" style="background-color:  rgb(202, 49, 49);" href="{% url 'delete-project' items.id %}">Delete</a>
                </div> -->
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
       
      </div>
    </div>
  </section>
 
</main>
{% endblock content %}